header {
    background-image: url('../imgs/pattern.png');
    background-color: rgb(0, 136, 255);
    background-size: 400px;
    height: 100px;
    
}

.logo {
    width: 180px;
    height: 150px;

}

.the-booleaner {
    color: rgb(0, 163, 217);
}

.data {
    font-size: 12px;
}

.evidenziato {
    background-color: yellow;
}



thead {
    color: white;
    background-color: rgb(0, 163, 217);
}

tbody {
    background-color: rgb(155, 216, 238);
}

.no-sfondo {
    background-color: white;
}

