body {
    width: 1100px;
    margin-top: 0;
}

header {
    background-image: url('../imgs/pattern.png');
    background-color: rgb(28, 144, 245);
    background-size: 400px;

}

.logo {
    width: 180px;
    margin-left: 5px;
    padding-top: 40px;
    padding-bottom: 5px;
}

h1 {
    margin-bottom: 0;
}

.p-grigio {
    color: grey;
    margin-top: 0;
    margin-bottom: 0;
}

.p-grigio > .the-booleaner {
    color: rgb(0, 163, 217);
}

.data {
    font-size: 12px;
    color: grey;
    margin-top: 0;
}

table {
    margin: 0;
    border-collapse: collapse;
}

thead {
    color: white;
    background-color: rgb(0, 163, 217);
}

tbody {
    background-color: rgb(176, 226, 244);
}

tr {
    text-align: left;
}

#cinquanta-per-cento {
    width: 50%;
}

.no-sfondo {
    background-color: white;
}

.p-footer {
    color: grey;
}

.footer-img-1 {
    color: white;
    background-image: url('../imgs/monitor.jpg');
    background-size: cover;
    height: 150px;
    width: 200px;
    padding: 10px;

}

.footer-img-2 {
    color: white;
    background-image: url('../imgs/graph.jpg');
    background-size: cover;
    width: 200px;
    height: 150px;
    padding: 10px;
}